{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="s3FM9GP4"></script>

    <div class="container antibar">
      <div class="row">
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                  {% for cat in post.categories.all %}
                    <a href="{% url 'category' cat.id %}">{{ cat.categoria }}</a>
                  {% endfor %}
                  </div>
                  <div>
                  {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                      <a href="{% url 'post_update' pk=post.pk %}" class="h3 update"><i class="far fa-edit"></i></a>
                      <a href="{% url 'post_delete' pk=post.pk %}" class="h3 confirmation"><i class="far fa-trash-alt"></i></a>
                      
                      <script type="text/javascript">
                          // $('.update').on('click', function() {
                          //   $.confirm({
                          //       theme: 'bootstrap',
                          //       title: 'Confirmar',
                          //       content: '¿Estás seguro de querer eliminar este Post?',
                          //       buttons: {
                          //           confirm: function () {
                          //               $.alert('Eliminado');
                          //           },
                          //           cancel: function () {
                          //               $.alert('Cancelado');
                          //           },
                          //       }
                          //   });
                          // });
                          $('.confirmation').on('click', function () {
                              return confirm('¿Estas seguro de querer eliminar este artículo?');
                          });
                      </script>
                    {% endif %}
                  {% endif %}
                  </div>
                </div>
                <h1>{{ post.title }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="{% url 'author' post.author.id %}" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ post.author.user.username }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i>Hace {{ post.timestamp|timesince }}</div>
                    <div class="views"><i class="icon-eye"></i>{{ post.view_count }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  {{ post.content | safe }}
                </div>
                <div class="post-tags">
                  {% for cat in post.categories.all %}
                    <a href="{% url 'category' cat.id %}" class="tag">#{{ cat.categoria }}</a>
                  {% endfor %}
                </div>
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                {% if post.previous_post %}
                <a href="{{ post.previous_post.get_absolute_url }}" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Artículo Previo </strong>
                      <h6>{{ post.previous_post.title }}</h6>
                    </div>
                </a>
                {% endif %}
                {% if post.next_post %}
                <a href="{{ post.next_post.get_absolute_url }}" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Artículo Siguiente </strong>
                      <h6>{{ post.next_post.title }}</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                </a>
                {% endif %}
                </div>
                <div class="post-comments">
                  <div class="fb-comments" data-href="https://www.andolasalud.com/blog/post/{{ post.pk }}/" data-width="100%" data-numposts="10"></div>
                </div>  
              </div>
            </div>
          </div>
        </main>
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}

      </div>
    </div>

{% endblock content %}