{% extends 'base.html' %}
{% block content %}
{% load static %}
        <title>Andola - Acupuntura</title> 
        <h1 class="fw-400 centrar-texto margen-servicios" >Medicina Tradicional China y Acupuntura</h1>
        <section class="imagen-acupuntura parallax">
                <p></p>
        </section>
            
        <main class="contenedor seccion contenido-centrado">   
            <div class="resumen-servicio">
                <p>La Medicina Tradicional China (MTCh) es el resultado de la dedicación de una interminable lista de hombres como Bian Que, Zhang Zhongjing, Hua Tuo, Wag Shuhe, Huang Fumi, Sun Simiao, Li Shizheng, entre otros tantos de igual importancia, que dedicaron sus vidas a un solo objetivo; dilucidar los fenómenos de salud-enfermedad-salud.</p> 
                <p>Es durante las dinastías Qin-Han, Tang, Song y Ming, que la MTCh se nutre de todo el bagaje filosófico y cultural de esas épocas y consolida su sistema teórico, mismo que dirige la práctica clínica hasta nuestros días. Resultando así, una medicina con base filosófica en el 道 Dao, en las teorías del 阴阳 Yin Yang y de los Cinco Elementos 五 行 wu xing, fenómenos presentes en el macrocosmos (naturaleza) aplicables al microcosmos (hombre) que a su vez cuenta con sus propias teorías fisiológicas como 经络 Jing-luo de los canales y colaterales y 臟腑 Zang fu de los órganos y vísceras. </p>
                <p>Siendo el hombre susceptible a factores causantes de enfermedad tanto internos como externos; xie qi 邪气 energía patógena, 温病学 Wen Bing Xue enfermedades febriles y 伏气 Fu qi energías latentes, surge entonces una explicación y aplicación sistemática de la etiología, fisiopatología, los cuatro métodos diagnósticos y los principios terapéuticos.</p>
                <p>Desarrollando así una amplia variedad de técnicas como la herbolaria, moxibustión, acupuntura, guasha, masaje, qi gong, sangria de enerpuntos, aguja de fuego, microsistemas, ventosas, acutomomedicina, arcuatorepuntura, plotopuntura, craneoacupuntura, acupuntura abdominal y acupuntura horizontal entre muchos otros.</p>
                <p>Dicho de esta manera la MTCh se ha utilizado con éxito desde hace miles de años para mantener la salud, prevenir y tratar enfermedades, desde agudas a crónicas.</p>
                <a href="/servicios" class="boton boton-azul">Más Servicios</a>
            </div>
        </main>
  
{% endblock %}