{% extends 'base.html' %}
{% block content %}
{% load static %}
    <title>Andola - Psicología</title>

        <h1 class="fw-400 centrar-texto margen-servicios" >Psicología</h1>

        <section class="imagen-psicologia parallax">
        <p></p>
        </section> 
        <main class="contenedor seccion contenido-centrado">
            <div class="resumen-servicio">
                <p>La psicoterapia, más allá de un tratamiento, es una relación de ayuda que tiene como principal propósito acompañar a la persona en su proceso de autodescubrimiento, promoviendo el despertar de la consciencia de sí misma, el manejo de sus emociones, comportamiento, actitudes y deseos. A través de la valoración, orientación e intervención, el terapeuta crea un clima que favorece el desarrollo de nuevas herramientas que le permiten al paciente esclarecer las formas de ser y estar en cada uno de los ámbitos que conforman su vida.</p>
                <p>El trabajo por parte del paciente es un elemento clave para determinar el ritmo de progreso de su proceso psicoterapéutico. El proceso comienza con el reconocimiento y aceptación de sí mismo, para proseguir a la decisión de promover cambios que tengan un impacto positivo en su salud mental y bienestar emocional, y así lograr una mejor calidad de vida, tanto a nivel individual, como a nivel social.
</p>
                <a href="/servicios" class="boton boton-azul">Más Servicios</a>
            </div>
        </main>
  
{% endblock %}

