{% extends 'base.html' %}
{% block content %}
{% load static %}
    <title>Andola - Quiropractica</title>

      <h1 class="fw-400 centrar-texto margen-servicios" >Quiropractica</h1>

        <section class="imagen-quiropractica parallax">
            <p></p>
        </section> 

      <main class="contenedor seccion contenido-centrado">
          <div class="resumen-servicio">
            <p>La Quiropráctica es una profesión sanitaria que se ocupa del diagnóstico, tratamiento y prevención de los trastornos del sistema neuromusculoesquelético y de los efectos de éstos en la salud general. En ella se utilizan  técnicas principalmente manuales tales como el ajuste y la manipulación articular,  centrándose sobre todo en las subluxaciones articulares y en la restauración de la función.</p>
            <p>La relación entre la estructura,  principalmente  la columna, el sistema musculoesquelético, y la función,  especialmente la coordinación por parte del sistema nervioso, es fundamental en el enfoque  hacia el tratamiento, la salud y el bienestar del paciente. La Quiropráctica pone énfasis filosófico en la relación cuerpo-mente para la salud y las fuerzas naturales de curación del cuerpo. Esto representa una filosofía biopsicosocial de la salud más que biomédica.</p>
            <p>El ejercicio interdisciplinario es común entre quiroprácticos, médicos, fisioterapeutas y otros profesionales de la salud, para trabajar en áreas como la terapia ocupacional, atención post-traumatismo y centros de rehabilitación, además de equipos de medicina deportiva.</p>
            <a href="/servicios" class="boton boton-azul">Más Servicios</a>
          </div>
      </main>
  
{% endblock %}