{% extends 'base.html' %}
{% block content %}
{% load static %}  
    <title>Andola - Rehabilitación</title>

        <h1 class="fw-400 centrar-texto margen-servicios" >Rehabilitación Física</h1>

        <section class="imagen-rehabilitacion parallax">
        <p></p>
      </section> 
      <main class="contenedor seccion contenido-centrado">
          <div class="resumen-servicio">
              <p>En Andola, la rehabilitación física es una ciencia aplicada a través de métodos diagnósticos y terapéuticos personalizados empleando los recursos necesarios como ejercicio, medios físicos, mecanoterapia, terapias manuales y electroterapia, en cada etapa de la lesión e incluso antes para prevenir y preparar al cuerpo ante cualquier situación; ejemplo de ello es la preparación física de un atleta para presentar una competencia o, en un caso más cotidiano, el fortalecer los tobillos para evitar torcerlos al caminar. La rehabilitación es útil para todos y en todas las edades, cada caso es único y por ello se debe abordar con profesionalismo para lograr el mejor resultado.</p>
              <p>La rehabilitación puede ayudar en muchos problemas de salud, como padecimientos agudos o crónicos, traumatismos o lesiones moderadas, trastornos neurológicos genéticos y  adquiridos. Constituye una parte integradora del área de la salud que complementa la intervención de las demás áreas médicas; logrando así minimizar o frenar los efectos discapacitantes u otras complicaciones. Es una inversión que aporta tanto al usuario como a la sociedad, puede contribuir a evitar hospitalizaciones costosas, duración de las mismas y evitar reingresos, así mismo, los beneficiarios de la terapia pueden recuperar sus actividades sociales, académicas y laborales, en sí, reintegrarse a la sociedad y llevar una vida independiente. El mejor momento para comenzar la rehabilitación es cuando se detecta un problema de salud, y continuar con ella mientras se atiende de manera integral con otras especialidades o instancias sanitarias.</p>
              <a href="/servicios" class="boton boton-azul">Más Servicios</a>
          </div>
      </main>
  
{% endblock %}
      
      