{% extends 'gestion/base_admin.html' %}
{% load static %}


{% block content %}
    {% block head %}
        <link rel="stylesheet" href="{% static "css/caja.css" %}">
        <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
        <script src="{% static 'lib/select2-4.0.13/js/select2.full.js' %}"></script>
        <script src="{% static "js/compras.js" %}"></script>
        <script src="{% static "lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js" %}"></script>
        <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
        <script src="{% static "lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css" %}">
    {% endblock head %}
    
    <header class="header-internas">
        
    </header>

    <div class="contenedor contenedor-caja">
        <div class="datos-prodyserv" id="datos-prodyserv" >
            <div class="datos-compras clearfix" id="compras">
                    <div class="content-header">
                        <div class="compras-title">
                            <h2>Compras y Pagos</h2>
                            <br>
                        </div>
                        <div class="form-group">
                            <label>Artículo: </label>
                            <div class="input-group">
                                <select name="articulo" class="form-control custom-select select2" autocomplete="off" autofocus>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn-xs btn-success btn-flat btnAddArticulo" type="button"> 
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <table class="table table-bordered tblartcl" id="tblProducts">
                            <thead>
                                <tr>
                                    <th><i class="far fa-trash-alt"></i></th>
                                    <th scope="col" style="width: 35%;">Producto</th>
                                    <th scope="col" style="width: 15%;">PVP</th>
                                    <th scope="col" style="width: 25%;">Cantidad</th>
                                    <th scope="col" style="width: 25%;">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button type="button" class="boton boton-peligro btn-xs btnRemoveAll"> 
                            <i class="fas fa-trash"></i> Eliminar todos
                        </button>
                    </div>
            </div>
        </div>
        
        <script type="application/javascript" src="{% static "js/purchlogic.js" %}"></script>
        
        <div class="datos-ticket">
            <h2>Ticket</h2>
            <div class="contenedor-ticket">
                <form id="frmPurch" method="post">
                    <input type="hidden" name="action" value="{{ action }}">
                        <div class="form-group">
                            <label>Fecha : </label>
                            {{ form.date_joined }}
                        </div>
                        <div class="form-group">
                            <label>Proveedor : </label>
                            <div class="input-group">
                                {{ form.proveedor }}
                                <div class="input-group-append">
                                    <button class="btn-xs btn-success btn-flat btnAddProveedor" type="button"> 
                                        <i class="fas fa-user-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Total : </label>
                            {{ form.total }}
                        </div>
                        <div class="form-group">
                            <label>Comentarios : </label>
                            {{ form.comment }}
                        </div>
                    <button class="boton boton-azul" type="submit">Guardar</button>
                </form>
                <div class="modal fade" id="myModalArticulo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form id="frmArticulo" action="" method="POST" enctype="multipart/form-data">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-plus"></i>Nuevo Articulo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <input type="hidden" name="action" value="add">
                                        <input type="hidden" name="id" id="id" value="">
                                        {% for field in frmArticulo.visible_fields %}
                                            <div class="form-group">
                                                <label for="">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="boton boton-azul"><i class="far fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal fade" id="myModalProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form id="frmProveedor" action="" method="POST" enctype="multipart/form-data">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-plus"></i>Nuevo Proveedor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <input type="hidden" name="action" value="add">
                                        <input type="hidden" name="id" id="id" value="">
                                        {% for field in frmProveedor.visible_fields %}
                                            <div class="form-group">
                                                <label for="">{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="boton boton-azul"><i class="far fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script>
        vents.items.products = {{ det|safe }};
        vents.list();
    </script>

    

{% endblock content %}